* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    min-height: 100%;
    background: url('background_pic_logo_1.png');
    background-repeat: no-repeat;
    background-position: left 5em;
    background-color: #FBBA00;
}

h1, option, input, .submitButton, form, select {
    font-family: 'Alegreya', serif;
}

h1 {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2em;
    font-weight: bold;
    color: black;
    font-size: 3em;
}

form {
    border: none;
    border-radius: 0.2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    text-align: center;
    margin-bottom: 5em;
    background: transparent;
}

select#genreList {
    /*-webkit-appearance: button;*/
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    /*background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0) 40%, rgb(0, 0, 0));*/
    background-color: black;
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 0.2em;
    color: white;
    font-size: inherit;
    margin-left: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    padding: 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10em;
    font-weight: bold;
 }

option {
    font-weight: bold;
    background-color: black;
    color: white;
}

label {
    font-size: 2em;
    color: #f5f5f5;
    font-weight: bold;
}

label[for="genreList"] {
    color: black;
    font-size: 1.5em;
    padding-top: 0.3em;
}

.rowOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

select {
    margin-top: 0.3em;
}

.selectToolbar input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.selectToolbar label {
    display: inline-block;
    background-color: black;
    border: 0.1em solid #444;
    border-radius: 0.2em;
    padding: 0.5em;
    font-size: 1.2em;
    width: 8em;
    margin-right: 2.5em;
    margin-left: 2.5em;
    transition-property: background, border-radius;
    transition-duration: .1s, .1s;
    transition-timing-function: linear, ease-in;
    transition-delay: 0s, 0s;
}

.selectToolbar label:hover {
    background-color: #59491B;
    border-radius: 1em;
}

.selectToolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.selectToolbar input[type="radio"]:checked + label {
    background-color: rgb(13, 2, 75);
    border-color: black;
}
.submitButton {
    font-weight: bold;
    padding: 0.3em 1.8em;
    font-size: 1.8em;
    border-radius: 0.2em;
    border: none;
    background-color: black;
    color: white;
    transition-property: background, border-radius;
    transition-duration: .1s, .1s;
    transition-timing-function: linear, ease-in;
    transition-delay: 0s, 0s;
}

.submitButton:hover {
    background-color: rgba(23, 24, 23, 0.664);
    border-radius: 1em;
}

.submitButton:focus {
    background-color: #8C1B11;
}

fieldset {
    height:100%;
    border: none;
}

main {
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hidden {
    display: none;
}

.poster img {
    float: left;
    margin-right: 1em;
    padding-left: 15em;
}

h2 {
    margin-bottom: 0.3em;
}

h3 {
    margin-bottom: 1.2em;
}

p {
    margin-bottom: 0.5em;
}

.overview {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
}


p,h2,h3 {
    font-family: 'Nunito', sans-serif;
    color: black;
}

h2 {
    font-size: 1.4em;
    font-weight: bolder;
}

h3 {
    font-size: 1.3em;
}

.textInfo p {
    font-weight: bold;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.textInfo {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
}

.castInfo {
    margin-bottom: 1em;
}

.rating-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2em;
}

.rating-links img {
    width: 5em;
    height: 3em;
    border-radius: 0.5em;
}

.rating-links p {
    font-weight: bold;
    margin-top: 0.7em;
}

.errorMessage {
    text-align: center;
}

@media only screen and (max-width: 1500px) {
    body {
        min-width: 100%;
        min-height: 100%;
        background: url('background_pic_logo_3.png');
        background-repeat: no-repeat;
        background-position: left 5em;
        background-color: #FBBA00;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.5em;
    }

    .textInfo {
        width: 55%;
    }

    .textInfo p {
        font-size: 1.2em;
    }

    .overview {
        text-align: left;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        min-width: 100%;
        min-height: 100%;
        background: url('background_pic_logo_2.png');
        background-repeat: no-repeat;
        background-position: left 5em;
        background-color: #FBBA00;
    }

    .textInfo {
        width: 45%;
    }

    .textInfo p {
        font-size: 1.2em;
    }

    .overview {
        text-align: left;
    }

    .poster img {
        padding-left: 10em;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        min-width: 100%;
        min-height: 100%;
        background: url('background_pic_logo_4.png');
        background-repeat: no-repeat;
        background-position: left 5em;
        background-color: #FBBA00;
    }

    h1 {
        font-size: 2.5em;
    }

    .selectToolbar {
        font-size: 0.9em;
    }

    .submitButton {
        font-size: 1.5em;
    }

    label[for="genreList"] {
        font-size: 1.5em;
    }

    select#genreList {
        font-size: 1em;
    }

    .textInfo {
        width: 70%;
    }

    .overview {
        text-align: left;
    }

    .poster img {
        padding-left: 8em;
    }
}

@media only screen and (max-width: 800px) {
    body {
        min-width: 100%;
        min-height: 100%;
        background: url('background_pic_logo_5.png');
        background-repeat: no-repeat;
        background-position: left 10em;
        background-color: #FBBA00;
    }    

    label[for="genreList"] {
        padding-bottom: 0.3em;
        padding-top: 0em;
    }

    h1 {
        font-size: 2.5em;
    }

    .selectToolbar {
        font-size: 0.7em;
    }

    .submitButton {
        font-size: 1.3em;
    }

    label[for="genreList"] {
        font-size: 1.4em;
    }

    select#genreList {
        font-size: 0.8em;
    }

    .textInfo {
        width: 70%;
    }

    .textInfo p {
        font-size: 1em;
    }

    .overview{
        text-align: left;
    }

    .poster img {
        width: 35%;
        height: 45%;
    }

    .rating-links img {
        width: 4em;
        height: 2em;
        border-radius: 0.5em;
    }
}

@media only screen and (max-width: 630px) {
    h1 {
        font-size: 2em;
    }

    .selectToolbar {
        font-size: 0.6em;
    }

    .submitButton {
        font-size: 1.1em;
    }

    label[for="genreList"] {
        font-size: 1.1em;
        padding-top: 0.2em;
    }

    select#genreList {
        font-size: 0.7em;
    }

    .textInfo {
        width: 90%;
    }

    .textInfo p {
        font-size: 0.8em;
    }

    .poster img {
        padding-left: 2em;
        width: 30%;
        height: 50%;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 510px) {
    body {
        min-width: 100%;
        min-height: 100%;
        background: url('background_pic_logo_6.png');
        background-repeat: no-repeat;
        background-position: left 8em;
        background-color: #FBBA00;
    }    

    h1 {
        font-size: 1.8em;
    }
    .selectToolbar label {
        font-size: 0.9em;
    }

    .submitButton {
        font-size: 1em;
    }

    label[for="genreList"] {
        font-size: 1.1em;
        padding-top: 0.2em;
    }

    select#genreList {
        font-size: 0.6em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1em;
    }

    .textInfo p {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 400px) {
    body {
        min-width: 100%;
        min-height: 100%;
        background: url('background_pic_logo_6.png');
        background-repeat: no-repeat;
        background-position: left 5em;
        background-color: #FBBA00;
    } 

    form {
        height: 7em;
    }

    h1 {
        font-size: 1.3em;
    }

    .selectToolbar {
        font-size: 0.5em;
    }

    .submitButton {
        font-size: 0.7em;
    }

    label[for="genreList"] {
        font-size: 0.8em;
        padding-top: 0.2em;
    }

    select#genreList {
        font-size: 0.5em;
    }

    h2 {
        font-size: 0.9em;
    }

    h3 {
        font-size: 0.8em;
    }

    .textInfo p {
        font-size:0.6em;
    }

    .rating-links img {
        width: 3em;
        height: 1.5em;
        border-radius: 0.5em;
    }
}

@media only screen and (max-width: 320px) {
    body {
        min-width: 100%;
        min-height: 100%;
        background: url('background_pic_logo_7.png');
        background-repeat: no-repeat;
        background-position: left 5em;
        background-color: #FBBA00;
    }   

    .submitButton {
        font-size: 0.7em;
    }

    h1 {
        font-size: 1em;
    }

    .selectToolbar {
        font-size: 0.4em;
    }

    .submitButton {
        font-size: 0.6em;
    }

    label[for="genreList"] {
        font-size: 0.8em;
        padding-top: 0.1em;
    }

    select#genreList {
        font-size: 0.4em;
    }

    .rating-links img {
        width: 2.5em;
        height: 1em;
        border-radius: 0.5em;
    }
}